<div ng-controller="LessonCtrl" id="slides_control" class="container-fluid" style="height: 350px">

  <uib-carousel active="active">
    <uib-slide ng-repeat="word in data" index="$index">
      <div ng-include="getInclude(word.type)"></div>
    </uib-slide>
  </uib-carousel>

  <div >

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header" style="text-align: center">
            <h3 class="modal-title">Lesson is complete!</h3>
        </div>
        <div class="modal-body" style="text-align: center; font-size: 24px">
          You have given {{correctAnswers}} correct answers out of {{wrongAnswers + correctAnswers}} questions
        </div>
        <!-- <div class="modal-footer"> -->
        <div class="modal-footer">
          <span class="col-sm-1"></span>
          <a type="link" class="col-sm-4 btn btn-primary" style="font-size: 20px" ng-click="ok()">Go to New Lesson</a>
          <span class="col-sm-2"></span>
          <a type="link" class="col-sm-4 btn btn-warning" style="font-size: 20px" ng-click="cancel()">Review My Answers</a>
          <span class="col-sm-1"></span>
        </div>
      </div>
    </script>

    <!-- <button type="button" class="btn btn-default" ng-click="open()">Open me!</button> -->
  </div>

</div>
