<div ng-controller="LessonCtrl">
  <div ng-hide="answerAdjective.answered">
  <div>
    <h1 style="margin: 10px">{{word.word}}</h1>
  </div>

  <div style="height: 40px"></div>

<br/>

   <form style="margin: auto" name="answerInput">
     <div class="row">
       <div class="col-sm-3"></div>
       <div class="col-sm-6">
        <input type="text" name="answerAdjective" ng-model="answerAdjective.translation" ng-trim="true"
                ng-init="answerAdjective.translation=''" class="answer-input" placeholder="Enter translation">
        <div style="height: 20px"></div>
      </div>
        <div class="col-sm-3"></div>
      </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-center">
        <a class="btn btn-primary main-btn" ng-click="checkAnswerAdjective(answerAdjective); isLessonCompleted()">Verify</a>
      </div>
      <div class="col-sm-4"></div>
    </div>

   </form>
 </div>
 <div ng-show="answerAdjective.answered">
   <div ng-show="answerAdjective.correct" class="alert alert-success" role="alert">
     Your answer is '{{answerAdjective.translation}}'.
     <br>
     This is correct answer!
   </div>
   <div ng-hide="answerAdjective.correct" class="alert alert-danger" role="alert">
         Your answer is '{{answerAdjective.translation}}',
         <br>
         correct answer is '{{word.translation}}'
   </div>
 </div>
</div>
