<div ng-controller="LessonCtrl">
  <div ng-hide="answerAdjective.answered">
  <div>
    <h1 style="margin: 10px">{{word.word}}</h1>
  </div>

  <div style="height: 40px"></div>

<br/>

   <form style="margin: auto" name="answerInput">
     <div class="row">
       <div class="col-sm-3"></div>
       <div class="col-sm-6">
        <input type="text" name="answerAdjective" ng-model="answerAdjective.translation" ng-trim="true"
                ng-init="answerAdjective.translation=''" class="answer-input" translate-attr="{ placeholder: 'ENTER_TRANSLATION' }">
        <div style="height: 20px"></div>
      </div>
        <div class="col-sm-3"></div>
      </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-center">
        <a translate class="btn btn-primary main-btn"
            ng-click="checkAnswerAdjective(answerAdjective); isLessonCompleted()">{{'VERIFY_BUTTON_TEXT'}}</a>
      </div>
      <div class="col-sm-4"></div>
    </div>

   </form>
 </div>
 <div ng-show="answerAdjective.answered">
   <div class="col-sm-4"></div>
   <div class="col-sm-4 text-center">
     <div ng-show="answerAdjective.correct" class="alert alert-success" role="alert">
       <p translate="YOUR_ANSWER_IS" translate-value-answer="{{answerAdjective.translation}}"></p>
       <br>
       <p translate="THIS_IS_CORRECT_ANSWER"></p>
     </div>
     <div ng-hide="answerAdjective.correct" class="alert alert-danger" role="alert">
           <p translate="YOUR_ANSWER_IS" translate-value-answer="{{answerAdjective.translation}}"></p>
           <br>
           <p translate="CORRECT_ANSWER_IS" translate-value-answer="{{word.translation}}"></p>
     </div>
   </div>
   <div class="col-sm-4"></div>

 </div>
</div>
