<div ng-controller="LessonCtrl">
  <div ng-hide="answerNoun.answered">
  <div>
    <h1>{{word.word}}</h1>
  </div>

  <h3>{{word.translation}}</h3>

  <form id="articleSelectForm" name="articleSelect" ng-init="answerNoun.article='der'">
    <label class="answer-radiobtn">
      <input type="radio" ng-model="answerNoun.article" value="der" ng-checked="true">
      der
    </label>
    <label class="answer-radiobtn">
      <input type="radio" ng-model="answerNoun.article" value="die" >
      die
    </label>
    <label class="answer-radiobtn">
      <input type="radio" ng-model="answerNoun.article" value="das" >
      das
    </label><br/>
   </form>

   <form name="answerInput">
    <input type="text" name="answerPlural" ng-model="answerNoun.plural" ng-trim="true"
            ng-init="answerNoun.plural=''" class="answer-input" placeholder="Enter plural form">
    <div>
      <a class="btn btn-primary main-btn" ng-click="checkAnswerNoun(answerNoun)" >Verify</a>
    </div>
   </form>
 </div>
 <div ng-show="answerNoun.answered">
   <div ng-show="answerNoun.correct" class="alert alert-success" role="alert">
     Correct. Your answer is '{{answerNoun.article}}' and '{{answerNoun.plural}}'
   </div>
   <div ng-hide="answerNoun.correct" class="alert alert-danger" role="alert">
     Wrong. Your answer is '{{answerNoun.article}}' and '{{answerNoun.plural}}',
     correct answer is '{{word.article}}' and '{{word.plural}}'
   </div>
 </div>
</div>
