<div ng-controller="LessonCtrl">
  <div ng-hide="answerVerb.answered">
  <div>
    <h1 style="margin: 10px">{{word.word}}</h1>
  </div>

  <h3 style="margin-top: 10px">{{word.translation}}</h3>

  <form id="auxverbSelectForm" name="auxverbSelect" style="margin: auto" ng-init="answerVerb.auxverb='hat'">
    <label class="answer-radiobtn">
      <input type="radio" ng-model="answerVerb.auxverb" value="hat">
      hat
    </label>
    <label  class="answer-radiobtn">
      <input type="radio" ng-model="answerVerb.auxverb" value="ist" >
      ist
    </label><br/>
   </form>

<br/>
   <form name="answerInput" style="margin: auto">

     <div class="row">
       <div class="col-sm-3"></div>
       <div class="col-sm-6">
         <input type="text" name="answerPartizip" ng-model="answerVerb.partizip" ng-trim="true"
                 ng-init="answerVerb.partizip=''" class="answer-input" placeholder="Enter partizip II">
        <div style="height: 20px"></div>
      </div>
        <div class="col-sm-3"></div>
      </div>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
          <a class="btn btn-primary main-btn" ng-click="checkAnswerVerb(answerVerb); isLessonCompleted()">Verify</a>
        </div>
        <div class="col-sm-4"></div>
      </div>
   </form>
 </div>

 <div ng-show="answerVerb.answered">
   <div class="row">
     <div class="col-sm-4"></div>
     <div class="col-sm-4 text-center">
       <div ng-show="answerVerb.correct" class="alert alert-success" role="alert">
         Your answer is '{{answerVerb.auxverb}} {{answerVerb.partizip}}'.
         <br>
         This is correct answer!
       </div>
       <!-- <div ng-hide="answerVerb.correct" class="alert alert-danger" role="alert"> -->
         <div ng-hide="answerVerb.correct" class="alert alert-danger" role="alert">
         Your answer is '{{answerVerb.auxverb}} {{answerVerb.partizip}}',
         <br>
         correct answer is '{{word.auxverb}} {{word.partizip}}'
       </div>
     </div>
     <div class="col-sm-4"></div>
   </div>

 </div>
</div>
